#App
NODE_ENV=development  #'production' disables swagger
PORT=8081

#Mongodb
MONGO_URI=mongodb://mongo:27017
MONGO_DB=exampleshop

#kafka
KAFKA_BROKERS=kafka:9092
KAFKA_CLIENT_ID=exampleshop-api

#Auth
JWT_SECRET=change-this-value