apiVersion: v1
kind: Secret
metadata:
  name: app-secrets
  namespace: exampleshop-prod
type: Opaque
stringData:
  JWT_SECRET: "exampleshop-secret-to-replace-with-real-secret"
  MONGO_PASSWORD: "exampleshop-password-replace-with-real-password"